
.nav-bar
    // MOBILE NAVBAR
    .nav-mobile
        .top
            .logo
                img(src="/images/Natours-recent-logo.png", alt="logo")
            .menu-btns
                span.menu
                    i.fa-solid.fa-bars#menu
                span.close
                    i.fa-solid.fa-xmark.close#close
        .links
            ul
                li.active: a(href="/") Home
                li: a(href="/tours") Tours
                li: a(href="/about-us") About Us
                li: a(href="/contact-us") Contact Us
            .btns
                a(href="/signUp") Sign Up
                a(href="/login") Sign In
    // DESKTOP NAVBAR
    .nav-desktop
        .nav-logo
            img(src="/images/Natours-recent-logo.png", alt="desktop-logo")
        .nav-links
            ul
                li(class=activePage === 'home' ? 'desktop-active' : '') 
                    a(href="/") Home
                li(class=activePage === 'tours' ? 'desktop-active' : '') 
                    a(href="/tours") Tours
                li(class=activePage === 'about' ? 'desktop-active' : '') 
                    a(href="/about-us") About Us
                li(class=activePage === 'contact' ? 'desktop-active' : '') 
                    a(href="/contact-us") Contact Us
        if user
            .user-profile 
                span= user.name.split(' ')[0]
                img#profile-img(src=`/Images/Users/${user.photo  || 'default-profile.jpeg'}`, alt= `photo of ${user.name}`)
                .user-profile-modal 
                    a(href="/me") Profile
                    a#logout-link(href="#")
                        span Logout 
                        i.fa-solid.fa-right-from-bracket 

        else
            .btns.desktop-btns
                a(href="/signUp") Sign Up
                a(href="/login") Sign In
            